.screen-container {
    width: calc(100% - 100px);
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background-color: #1E2A3E;
    opacity: 1;
    background-image:  repeating-radial-gradient( 
    circle at center left, transparent 0, #1E2A3E 70px ), 
    repeating-linear-gradient( #354f5f55, #354f5f );
}

.flex {
    display: flex;
    justify-content: space-between;
}